<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= config.description %>">
    <meta name="keyword"  content="<%= config.keyword %>">
    <link rel="shortcut icon" href="<%= config.root %>img/icon.png">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>
        <% if (page.title) { %>
          <%= page.title + ' - ' + config.SEOTitle %>
        <% } else{%>
          <%= config.SEOTitle %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path||'').replace('index.html', '') %>">

    <!-- 不蒜子 觀看人次計數 -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <!-- google pretty print -->
    <%- css('css/prettify.css') %>

    <!-- 程式碼樣式 -->
    <!-- <%- css('css/atelier-forest-light.css') %> -->
    <%- css('css/atelier-dune-light.min.css') %>
    
    <!-- Bootstrap Core CSS -->
    <%- css('css/bootstrap.min.css') %>

    <!-- Jquery -->
    <%- js('js/jquery.min.js') %>

    <!-- Custom CSS --> 
    <%- css('css/beantech.min.css')%>
    
    <!-- Pygments Highlight CSS -->
    <%- css('css/highlight') %>

    <%- css('css/widget')%>

    <%- css('css/rocket')%>

    <%- css('css/signature')%>

    <%- css('css/toc')%>

    <!-- <link href="https://cdn.staticfile.org/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/96542121e6.js" crossorigin="anonymous"></script>

  </head>
